body {
	font-family: 'Raleway', sans-serif;
	background-color: none;
	overflow-x: hidden;
}

#top {
	display: flex;
	flex-direction: row;
}

h1 {
	letter-spacing: 1px;
	font-size: 30px;
	position: relative;
	left: 40px;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #FFB90F;
}


h2 {
	position: relative;
	letter-spacing: 10px;
	font-size: 26px;
	display: flex;
	justify-content: center;
	padding-top: 40px;
	margin-top: 600px;
	margin-bottom: 0px;
	color: #303030;
}

h3 {
	position: relative;
	letter-spacing: 6px;
	font-size: 26px;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 0px;
	padding-top: 40px;
	color: #303030;
}

#menu {
	position: relative;
	left: 780px;
	top: 50px;
}

ul {
	display: flex;
	flex-direction: row;
}


li {
	list-style: none;
	margin: 0;
	padding: 0;
}

li a {
    display: block;
    width: 140px;
    height: 30px;
    text-decoration: none;
    letter-spacing: 4px;
    color: 	#303030;
    font-weight: bolder;
    font-size: 14px;
}

li a:hover {
	color: #FFB90F;
}

#banner {
	background-color: #FFB90F;
	opacity: 1;
	width: 100%;
	height: 570px;
	position: absolute;
	left: 0;
}

#banner:hover #arrow {
	display: block;
	opacity: .9;
}

#arrow {
	display: none;
	position: relative;
	left: -70px;
	top: 100px;
}

#egg-container {
	position: relative;
	display: flex;
	flex-direction: row;
	top: 160px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.egg {
	display: flex;
	flex-direction: column;
}

.egg img {
	max-width: 250px;
	height: auto;
	z-index: 1;
	padding-left: 120px;
	padding-right: 80px;
}

@keyframes wiggle {
	0% {
		transform: rotate(-10deg);
	}
	10% {
		transform: rotate(10deg);
	}
	20% {
		transform: rotate(-10deg);
	}
	30% {
		transform: rotate(10deg);
	}
	40% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(-10deg);
	}
	70% {
		transform: rotate(10deg);
	}
	80% {
		transform: rotate(-10deg);
	}
	90% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}

.egg img:hover {
	animation: wiggle 2s infinite;
}

::-webkit-scrollbar { 
    display: none; 
}

.hover-text {
	font-family: 'Abel', sans-serif;
	font-weight: lighter;
	font-size: 18px;
	letter-spacing: 2px;
	color: white;
	z-index: 1;
	margin-right: auto;
	margin-left: auto;
	font-weight: bolder;
	display: none;
	padding-left: 120px;
	padding-right: 80px;
	opacity: .9;
}

.egg:hover .hover-text {
	display: block;
	z-index: 3;
}

#all-recipes {
	display: flex;
	flex-direction: column;
}

.recipe-container {
	height: 400px;
	position: relative;
	display: flex;
	flex-direction: row;
	left: 300px;
	margin-bottom: 0;
}

.recipe-img img {
	max-width: 400px;
	opacity: 1;
}

.recipe-img:hover {
	
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(60px);
		transform: scale(.8);
	}
	100% {
		transform: translateY(0);
	}
}


.link {
	position: relative;
	z-index: 1;
	top: 170px;
	letter-spacing: 2.5px;
	font-size: 22px;
	font-weight: 400;
	font-family: 'Abel', sans-serif;
	text-decoration: none;
}

.link a {
	color: #323232;
}

button {
	background-color: white;
	border: grey;
	font-family: 'Raleway', sans-serif;
	outline: none;
}

a {
	text-decoration: none;
	color: black;
}


#fact-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 50px;
	margin-top: 70px;
	height: 500px;
	width: 100%;
}

.fact {
	width: 240px;
	height: 200px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #FFC125;
	z-index: 2;
}

.f1, .f3 {
	position: relative;
	top: 40px;
}

.drop-box {
	position: relative;
	z-index: 1;
	width: 240px;
	height: 200px;
	background-color: #FFFF7E;
	display: none;
	margin: 0;
	margin-bottom: 0;
}

.f1 .fact-text {
	height: 180px;
	width: 160px;
	position: relative;
	top: 44px;
	left: 40px;
	color: white;
	line-height: 22px;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
}

.f2 .fact-text {
	height: 180px;
	width: 160px;
	position: relative;
	top: 52px;
	left: 40px;
	color: white;
	line-height: 22px;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
}

.f3 .fact-text {
	height: 180px;
	width: 160px;
	position: relative;
	top: 52px;
	left: 40px;
	color: white;
	line-height: 22px;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
}

.f4 .fact-text {
	height: 180px;
	width: 160px;
	position: relative;
	top: 62px;
	left: 40px;
	color: white;
	line-height: 22px;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
}

.fact:hover .drop-box {
	display: block;
}

.f1 .drop-box p {
	height: 180px;
	width: 160px;
	position: relative;
	top: 64px;
	left: 40px;
	color: black;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	line-height: 22px;
}

.f2 .drop-box p {
	height: 180px;
	width: 160px;
	position: relative;
	top: 44px;
	left: 40px;
	color: black;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	line-height: 22px;
}

.f3 .drop-box p {
	height: 180px;
	width: 160px;
	position: relative;
	top: 66px;
	left: 40px;
	color: black;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	line-height: 22px;
}

.f3 .drop-box p {
	height: 180px;
	width: 160px;
	position: relative;
	top: 66px;
	left: 40px;
	color: black;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	line-height: 22px;
}

.f4 .drop-box p {
	height: 180px;
	width: 160px;
	position: relative;
	top: 56px;
	left: 40px;
	color: black;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	line-height: 22px;
}

.text-one {
	padding: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	z-index: 3;
	position: relative;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 20px;
	letter-spacing: 1px;
}

.left {
	height: 680px;
	width: 70%;
	background-color: #F2B048;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: hidden;
	margin: 0;
}

.right {
	height: 660px;
	width: 30%;
	background-color: white;
	top: 0;
	right: 0;
	position: fixed;
	overflow-y: hidden;
}

.recipe-title {
	position: fixed;
	margin-left: 20%;
	top: 45%;
	font-size: 40px;
	letter-spacing: 10px;
	font-weight: bold;
	color: white;
	padding: 0;
	animation: bounce 1.2s ease-in infinite;
}


.recipe-title2 {
	position: fixed;
	margin-left: 25%;
	top: 45%;
	font-size: 40px;
	letter-spacing: 10px;
	font-weight: bold;
	color: white;
	padding: 0;
	animation: bounce 1.2s ease-in infinite;
}

.recipe-title3 {
	position: fixed;
	margin-left: 22%;
	top: 45%;
	font-size: 40px;
	letter-spacing: 10px;
	font-weight: bold;
	color: white;
	padding: 0;
	animation: bounce 1.2s ease-in infinite;
}

@keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100%{
		transform: translateY(0px);
	}
}

.right-nav img {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	margin-left: 50px;
}

.right-nav img:hover {
	animation: wiggle 3s;
	cursor: pointer;
}

.right-nav {
	position: relative;
	top: 30px;
}

.recipe-box {
	opacity: .96;
	position: relative;
	display: none;
	background-color: none;
	border-radius: 0px;
	width: 700px;
	height: 400px;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	top: 140px;
}

.instructions-box {
	opacity: 1;
	position: relative;
	display: none;
	background-color: none;
	border-radius: 0px;
	width: 700px;
	height: 400px;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	top: 140px;
	z-index: 1;
}

.ingredients-text {
	max-width: 600px;
	bottom: 40px;
	left: 56px;
	position: relative;
}

.steps-text {
	max-width: 600px;
	bottom: 40px;
	left: 56px;
	position: relative;
}
